* {
    font-family: Roboto Mono;
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;
    min-height: 100vh;

    color: whitesmoke;
    background-color: black;
}

main {
    flex: 1;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 1rem;
}

.logo {
    display: flex;
    flex-direction: column;

    align-items: center;

    transition: transform 0.5s, filter 0.25s;
}
.logo h1 {
    padding-right: 2rem;
}
.logo:hover {
    transform: scale(110%);
    filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, 0.33));
}

a {
    color: dodgerblue;
    text-decoration: none;
}